/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
    font-size: 16px;
  }
  nav {
    background: rgb(255, 255, 255);
    padding: 0 15px;
  }
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
   
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
  
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 15px 25px;
      margin: 5px 0;
    }
    .button a {
      background: #fdfeff;
      border: 1px royalblue solid;
      border-radius: 4px;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
    }
  }
  


  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-center;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }

header{
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center; 
      width: 100%;
      background-image: url('jay-mantri-TFyi0QOx08c-unsplash.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
      
  }





.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding-bottom: 15px;
}



.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

label {
    margin-bottom: 10px;
}

.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
    background-color: rgb(212, 88, 84);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
    
}

.padding-bottom--23{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}
.grids{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center; 
}
.grid-row{
    margin: 10px;
}
#cabin{
    background-color: white;
    padding: 15px;
    border: 1px rgba(194, 194, 194, 0.699) solid;
    border-radius: 5px;
}
.cheap{
    display: flex;
    flex-direction: column;
  
    font-family: lemon milk;
    padding: 10px;

}
.cheap h1{
    color: #830a65;
    padding: 1em;
    font-weight: 200;
    word-wrap: break-word;
    
}
.cheap h4{
    color: rgba(68, 68, 68, 0.596);
    padding: 1em;
}
.flights{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center; 
    padding: 1em;
    font-family: Arial, sans-serif;
    background-color:rgba(255, 255, 255, 0.3);
    background: #ffffff3f;
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    
    position: relative;
    transition: all 0.2s ease-in-out;
    
}
.flights p{
    padding: 0.43em;

}
.protect p i{
    margin-right: 5pt;
}
.choice h2{
    margin-bottom: 13%;
}
.choice p i{
    margin-right: 5pt;
}
.book{
    text-align: center;
    word-wrap: normal;
    justify-self: center;
    padding: 10%;
}
.book h2{
    color: #024d97;
    padding: 10px;
    font-size: 2.5em;
}
.book p{
    font-size: 1em;
    text-align: center;
   
    
}
.book p a{
    margin: 10px;
    font-size: 1em;
    color: #830a65;
}